<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.knverey.datadog</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>03B85BD7-5860-4E00-BB83-EF9F2A6F2003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87B6BF7D-5FB8-48C9-9036-B5D3307640B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16424E34-1D54-4173-B286-B6C8C9DE9B64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84706C55-D796-4278-978A-A6FFFA8F0C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B4B3DB8-9AB5-4E61-8D09-923D4791A57C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47D1AC43-3D8F-4426-BD70-6CA63B3A2EB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47D1AC43-3D8F-4426-BD70-6CA63B3A2EB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6990F903-81D2-4BB0-9D1C-8108CDB17108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>55CD4799-E8BD-41FA-BEBA-3D853942C3AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16424E34-1D54-4173-B286-B6C8C9DE9B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BA6BB2A-1EF9-4856-9DF8-57BE2BCEA6F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55CD4799-E8BD-41FA-BEBA-3D853942C3AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6990F903-81D2-4BB0-9D1C-8108CDB17108</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16424E34-1D54-4173-B286-B6C8C9DE9B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>489F9B78-A5EB-4F30-A3F7-336AA48780B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A07AFF79-DB16-4B8F-9200-2803F116A3BE</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy dash url to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>800232C0-02BE-4067-B164-3057DFB783F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD820212-5AA4-494B-A517-FA4B8D3367F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84706C55-D796-4278-978A-A6FFFA8F0C3A</key>
		<array/>
		<key>87B6BF7D-5FB8-48C9-9036-B5D3307640B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E484BF99-9C31-4456-81AB-45B6EE8DBB21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A07AFF79-DB16-4B8F-9200-2803F116A3BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B572DFF9-221A-4624-B01E-8FE1BED37BF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E484BF99-9C31-4456-81AB-45B6EE8DBB21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>800232C0-02BE-4067-B164-3057DFB783F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5A9B21A-E310-4569-A16B-7FACD6ECC1D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B4B3DB8-9AB5-4E61-8D09-923D4791A57C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5A9B21A-E310-4569-A16B-7FACD6ECC1D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA6BB2A-1EF9-4856-9DF8-57BE2BCEA6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Katrina Verey</string>
	<key>description</key>
	<string>List and filter your datadog dashboards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Datadog Dashboards</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>489F9B78-A5EB-4F30-A3F7-336AA48780B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching dashboards...</string>
				<key>script</key>
				<string>if [[ "${rubypath}" ]]; then
	export PATH="${rubypath}:$PATH"
fi

app_key=$(security find-generic-password -a $USER -s dd-app-key -w)
api_key=$(security find-generic-password -a $USER -s dd-api-key -w)

./open-datadog-dashboard --app_key=$app_key --api_key=$api_key --custom_domain="${custom_domain}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open one of your Datadog dashboards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A07AFF79-DB16-4B8F-9200-2803F116A3BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} was copied to your clipboard.</string>
				<key>title</key>
				<string>Alfred Datadog Dashboards</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B572DFF9-221A-4624-B01E-8FE1BED37BF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:auth-dd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save Datadog Credentials</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03B85BD7-5860-4E00-BB83-EF9F2A6F2003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Open Datadog credentials page","arg":"open","subtitle":"https:\/\/app.datadoghq.com\/account\/settings#api"},{"title":"Save api key","arg":"save-api","subtitle":""},{"title":"Save application key","arg":"save-app"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>87B6BF7D-5FB8-48C9-9036-B5D3307640B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E484BF99-9C31-4456-81AB-45B6EE8DBB21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>800232C0-02BE-4067-B164-3057DFB783F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>save-api</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F5A9B21A-E310-4569-A16B-7FACD6ECC1D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.datadoghq.com/account/settings#api</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DD820212-5AA4-494B-A517-FA4B8D3367F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter your api key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BA6BB2A-1EF9-4856-9DF8-57BE2BCEA6F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>security add-generic-password -a $USER -s dd-api-key -w $1 -U

echo "Api key"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55CD4799-E8BD-41FA-BEBA-3D853942C3AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} saved in your keychain</string>
				<key>title</key>
				<string>Alfred Datadog Auth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>84706C55-D796-4278-978A-A6FFFA8F0C3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>save-app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3B4B3DB8-9AB5-4E61-8D09-923D4791A57C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>16424E34-1D54-4173-B286-B6C8C9DE9B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter application key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47D1AC43-3D8F-4426-BD70-6CA63B3A2EB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>security add-generic-password -a $USER -s dd-app-key -w $1 -U

echo "App key"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6990F903-81D2-4BB0-9D1C-8108CDB17108</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/KnVerey/alfred-datadog-dashes for usage and setup info.</string>
	<key>uidata</key>
	<dict>
		<key>03B85BD7-5860-4E00-BB83-EF9F2A6F2003</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>16424E34-1D54-4173-B286-B6C8C9DE9B64</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>3B4B3DB8-9AB5-4E61-8D09-923D4791A57C</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>47D1AC43-3D8F-4426-BD70-6CA63B3A2EB0</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>489F9B78-A5EB-4F30-A3F7-336AA48780B6</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>55CD4799-E8BD-41FA-BEBA-3D853942C3AC</key>
		<dict>
			<key>note</key>
			<string>Keychain entry dd-api-key</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>5BA6BB2A-1EF9-4856-9DF8-57BE2BCEA6F5</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>6990F903-81D2-4BB0-9D1C-8108CDB17108</key>
		<dict>
			<key>note</key>
			<string>Keychain entry dd-app-key</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>800232C0-02BE-4067-B164-3057DFB783F9</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>84706C55-D796-4278-978A-A6FFFA8F0C3A</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>87B6BF7D-5FB8-48C9-9036-B5D3307640B7</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A07AFF79-DB16-4B8F-9200-2803F116A3BE</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B572DFF9-221A-4624-B01E-8FE1BED37BF8</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DD820212-5AA4-494B-A517-FA4B8D3367F8</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>E484BF99-9C31-4456-81AB-45B6EE8DBB21</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F5A9B21A-E310-4569-A16B-7FACD6ECC1D8</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>custom_domain</key>
		<string></string>
		<key>rubypath</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>custom_domain</string>
		<string>rubypath</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/KnVerey/alfred-datadog-dashes</string>
</dict>
</plist>
